
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* You implement */
body {
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.75rem;
    width: 840px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(255, 255, 255, 0.85);
    border: 5px solid azure;
    max-width: fit-content;
    margin-left: 6rem;
    padding: 1rem 10rem 1rem 1rem;
}

label {
    text-decoration: underline;
    padding-right: .5rem;
}

button {
    width: 9rem;
    height: 3.5rem;
    border: 3px double black;
    border-radius: 10px;
    font-size: 1rem;
}
h1{
    font-size: 3rem;
    color:azure;
    text-decoration: underline;
    background-color: rgb(0, 0, 0, .4);
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    max-width: fit-content;
    position: relative;
}

a {
    color:brown;
}

a:hover {
    transform: scale(.9);
}

a:visited {
    color:beige;
}

.page-container {
    position: relative;
    min-height: 100vh;
    background-image: url("images/JimHenson.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border:5px solid green;
}

footer {
    text-align: center;
    border: 10px ridge grey;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: red;
    color: white;
}

footer div a {
    color:white;
    font-style: italic;
}

footer div a:hover {
    transform: scale(.9);
}

.footer {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 10px solid azure;
}

/* .box {
    display: flex;
    height: 100%;
} */

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(211,211,211, 0.8);
    width: 300px;
    height: 70px;
    margin: 11rem auto;
    border: 1px solid black

}

.form-input{
    margin-bottom: 1.5rem;
}

input[type=text], input[type=number], input[type=email], input[type=address]{
    border: 4px solid red;
}

#info {
    width: 100%;
    height: 10rem;
}

.cc {
    width: 4rem;
}
